config-btcd1/rpc.cert
config-btcd1/rpc.key
config-btcd2/rpc.cert
config-btcd2/rpc.key
config-btcwallet/rpc.cert
config-btcwallet/rpc.key
config-btcd1/cert.pem
config-btcd1/data/
config-btcd1/key.pem
config-btcd1/logs/
